*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), 
    url(img/bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 90px;
    cursor: pointer;
}
.box ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.box ul li a {
    text-decoration: none;
    color: antiquewhite;
}
.box ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(55, 223, 111);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.42s;
}
.box ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: bisque;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-family: bold;
    border: 2px solid rgb(255, 0, 234);
    background: transparent;
    color: azure;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rebeccapurple;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.32s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}